<input type="text" id="bg" style="display: none;" value="#2E7D32">
<input type="text" id="font-color" style="display: none;" value="white">
<h1>Hola</h1>
<h2>Holaaaaa</h2>
<br>
<div class="mq p">$ npm i express-md</div class="mq p">
<br>
<div class="code-block">
<p>const&nbsp;express&nbsp;=&nbsp;require('express');</p>
<p>const&nbsp;app&nbsp;=&nbsp;express();</p>
<br>
<p>app.get('/',&nbsp;(req,&nbsp;res)&nbsp;=>&nbsp;{</p>
<p>&nbsp;res.send('XD');</p>
<p>});</p>
<br>
<p>app.listen(3030,&nbsp;()&nbsp;=>&nbsp;console.log('Listening&nbsp;port&nbsp;3030.'));</p>
</div>